:root {
  --mobile-width: 100vw;
  --mobile-height: 100vh;
}
#root {
  width: 100vw;
  height: 100vh;
}
#app {
  display: flex;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: var(--mobile-width);
  height: var(--mobile-height);

  background-color: rgb(255, 255, 255);
  /* border: 5px solid black; */
  /* border-radius: 25px; */
  /* box-shadow: 0 0 10px 4px #b3b3b3cf; */
  align-content: stretch;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer {
  cursor: pointer;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
  width: 100%;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.bare-visible {
  opacity: 0.2;
  pointer-events: none;
}

.rotate-z-90 {
  transform: rotateZ(180deg);
}
.rotate-z-90:hover {
  transform: scale(1.1) rotateZ(180deg) !important;
}
/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}
.far-top {
  top: -9999px !important ;
}
.z-index-high {
  z-index: 900000;
  position: absolute;
}
.Toastify__toast-container {
  z-index: 200000;
}
/* off canvas , modal , role dialog */
div[role="dialog"],
.my-backdrop {
  /* width: var(--mobile-width);
  height: var(--mobile-height);
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 25px; */
}
div[role="dialog"] {
  /* width: 320px; */
}

.you {
  color: #888;
  font-size: 0.7rem;
}
/* user */
#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/* user header */
#user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
  font-style: italic;
}

.telegram-logo {
  width: 30px;
  cursor: pointer;
}
/* user footer */
#user-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}
.footer-logo {
  max-width: 50px;
}
.footer-logo:hover {
  cursor: pointer;
  filter: invert(47%) sepia(92%) saturate(2702%) hue-rotate(163deg)
    brightness(97%) contrast(101%);
}
.footer-logo--clicked {
  filter: invert(47%) sepia(92%) saturate(2702%) hue-rotate(345deg)
    brightness(97%) contrast(101%);
}
/* feed */

#feed {
  /* display: flex; */
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.post__avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.post {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px rgba(126, 126, 126, 0.277) solid;
  padding-bottom: 2rem;
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0 1rem;
}
.post__caption-wrapper {
  white-space: pre-line;
  padding-left: 0.5rem;
  font-family: "Alkatra", cursive;
}

/* setting */
#setting {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 3rem;
}

.setting__profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.setting__avatar {
  border-radius: 50%;
  width: 200px;
}
.setting__user-name {
  font-family: "Anton", sans-serif;
}

/* profile */

#profile,
.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.profile__input {
  border: none;
  border-radius: 0;
  border-bottom: 2px black solid;
}
.react-datepicker-wrapper {
  margin: 2rem 0;
  margin-top: 0;
  width: auto !important;
}
.datepicker-label {
  text-align: left;
  align-self: flex-start;
}
/* interests */
#interests {
  height: 100%;
}
.interests__heading {
  font-family: "Roboto";
  font-size: 5rem;
  text-align: center;
}
.interests-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 20px;
}
.interest {
  position: relative;
}
.interest__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40px;
  filter: invert(0%) sepia(1%) saturate(4112%) hue-rotate(38deg) brightness(60%)
    contrast(101%);
}
.interest__trash {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  background-color: white;
  width: 50%;
}
.interest__trash:hover {
  opacity: 1;

  cursor: pointer;
}
.interest__plus {
  filter: invert(39%) sepia(88%) saturate(820%) hue-rotate(197deg)
    brightness(90%) contrast(91%);
  transition: all 0.2s;
}
.interest:hover .interest__plus {
  max-width: 70px;
}
.floppy-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.floppy-icon {
  cursor: pointer;
  max-width: 40px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.cross-icon {
  cursor: pointer;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  margin-left: 2rem;
  transform: rotateZ(45deg);
  filter: invert(28%) sepia(59%) saturate(7489%) hue-rotate(343deg)
    brightness(81%) contrast(113%);
}

/* interest off canvas */
.offcanvas {
  height: 40% !important;
}
.interest-canvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.interest-canvas-title {
  text-transform: capitalize;

  text-align: center;
  width: 100%;

  font-size: 2rem;
}
.interest-canvas-btns {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  width: 100%;
}
.interest-canvas-close {
  color: white;
  margin-top: 1rem;
}

/* interest form */
#interest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.interest-form__heading {
  font-family: Anton;
  align-self: center;
  margin-bottom: 2rem;
}
.interest-from__option {
}
.interest-form__btn {
  margin-top: 1rem;
  width: 100%;
}

/* contact  */
#contact {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(203, 203, 203, 0.067);
}
#friend-req {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid rgba(122, 119, 119, 0.389);
  padding-top: 1rem;
}
.friend-req__heading {
  font-family: "Alkatra";
  text-transform: uppercase;
}
.requests {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.req-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.req__tick {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: white;
  border: 1px solid rgb(73, 161, 77);
  border-radius: 100%;
  margin-left: 0.8rem;
}
.req__tick:hover {
  border: 1px solid rgb(73, 161, 77);
  background-color: rgb(73, 161, 77);
}
.req__cross {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: white;
  border: 1px solid rgb(183, 62, 58);
  border-radius: 100%;
}
.req__cross:hover {
  border: 1px solid rgb(183, 62, 58);
  background-color: rgb(183, 62, 58);
}
.req__plus {
  margin-top: 4rem;
}
.req__heading {
  padding-right: 0.3rem;
}
/*  add friends */

#add-friend {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  padding-top: 1rem;
}
.search-wrapper {
  width: 100%;
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  border: 1px solid rgb(224, 120, 8);
  border-radius: 20px;
}
.search-input,
.search-input:hover,
.search-input:active,
.search-input:focus {
  border: none !important;
  box-shadow: none;
  outline: none;
}
.search-btn {
  width: 20px;
}
.search-heading {
  text-align: center;
  font-family: Anton;
}
.found-users-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.add-friend-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.send-req-btn {
  width: 120px;
}
.add-friend__add-contact {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  background-color: #65a5dd;
  transition: all 0.1s;
}
.add-friend__add-contact:hover,
.add-friend__add-contact:active,
.add-friend__add-contact:focus {
  background-color: #3690de;
}
.add-friend__add-contact__img {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(208deg)
    brightness(109%) contrast(101%);
}
/* add contact */
.add-contact__input-wrapper {
  margin: 2rem;
}
.add-contact__error {
  margin-top: 1rem;
}
/* groups  */
.groups {
  width: 100%;
  height: 100%;
}
.groups__row {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.groups__row:hover {
  background-color: #eaeaea;
}
.groups__img {
  width: 70px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.groups__header {
  margin-left: 1rem;
  font-family: Roboto;
}
.groups__heading {
  font-size: 1.5rem;
  font-family: "Prompt";
  font-weight: 500;
}
.groups__sender {
  color: rgb(13, 110, 253);
  display: inline-block;
}

/* individual group */
.group {
  position: relative;
  background-color: #bff1ff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

/* group bar */
.group-bar {
  /* z-index: 2; */
  background-color: white;
  /* position: fixed; */
  width: 100%;
  justify-content: flex-start;
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.077);
}
.group-bar__arrow {
  width: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all 0.2s;
}
.group-bar__arrow:hover {
  transform: scale(1.1);
}
.group-bar__img {
  cursor: pointer;
  width: 45px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.group-bar__header {
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.group-bar__heading {
  font-weight: 600;
}
.group-bar__caption {
  color: #888;
}

/* group chat */
.group-chat {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.8rem 1rem;
  /* margin-top: 6vh; */
  overflow: scroll;
  transition: all 1s;
}
#chat-menu {
  position: absolute;
  top: -9999px;
  display: flex;
  flex-direction: column;
  background-color: white;
  list-style-type: none;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 5px 1px #d8d8d8;
}
.chat-menu__item {
  margin: 0.5rem 0.2rem;
  cursor: pointer;
}
.chat-menu__item__pin-icon {
  width: 20px;
  height: 20px;
  transform: rotateZ(270deg);
  margin-right: 0.3rem;
}
.chat-menu__item__copy-icon {
  width: 20px;
  height: 20px;

  margin-right: 0.3rem;
}
@keyframes showPinned {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.group-chat-show-pinned {
  animation: showPinned 1s;
}
.person-chat-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0.7rem 0;
  margin-right: 1rem;
}
.person-chat-img {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-right: 0.4rem;
}
.person-chat-caption {
  white-space: pre-line;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.person-chat-wrapper--current-user {
  align-self: flex-end;
  margin-left: 3rem;
  margin-right: 0;
}

.person-chat-wrapper--current-user .person-chat-caption {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgb(97 212 130);
  border-radius: 10px 10px 0px 10px;
}
.person-chat-wrapper--current-user .person-chat-header {
  padding: 0;
  clip-path: none;
  border-radius: 10px;
}

.person-chat-header {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 0.2rem;
  padding-bottom: 0;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 10px;
  min-width: 30%;
  border-radius: 10px 10px 10px 0px;
  clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 3% 93%);
}

.person-chat-heading {
  margin-bottom: 0;
  color: red;
}
/* group chat input */
.group-input-wrapper {
  display: flex;
  width: 100%;
  height: 45px;
}
.group-input {
  border-radius: 0px 0px 0 20px;
  height: 100%;
  resize: none;
  border-bottom: none;
}
.group-input:hover,
.group-input:active,
.group-input:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid rgba(166, 166, 166, 0.862);
  border-bottom: none;
}
.group-input-btn {
  border-radius: 0 0 15px 0;
  height: 100%;
}

/* group pin */
.group-pin-wrapper {
  width: 100%;
}
.group-pin {
  display: flex;
  color: black;
  background-color: #fcfcfc;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
}
.group-pin-icon {
  width: 20px;
  height: 20px;
}
.group-pin-caption {
  margin: 0;
  margin-left: 1rem;
  cursor: pointer;
}
.group-pin-cross {
  transform: rotateZ(45deg);
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.group-pin-cross:hover {
  transform: scale(1.2) rotateZ(45deg);
  filter: invert(22%) sepia(100%) saturate(3705%) hue-rotate(343deg)
    brightness(83%) contrast(96%);
}
@keyframes deletePin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.group-pin-delete {
  animation: deletePin 0.5s;
}
/* group info */
#group-info {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  background-color: #fff;
}
.group-info__img {
  width: 100px;
  flex-shrink: 0;
  height: 100px;
}
.group-info__arrow {
  align-self: flex-start;
}
.group-info-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -40px;
}
.group-info-heading {
  font-size: 2.5rem;
}
.group-info-caption {
  font-size: 1rem;
}
.group-info__add-member-wrapper {
  display: flex;
  width: 100%;
  padding: 2rem 1rem;
  padding-top: 1rem;
  direction: rtl;
}
.group-info__add-member {
  width: 30px;
  cursor: pointer;
}
@keyframes info-bar {
  0% {
    transform: scale(0.5) translateY(-30px);
  }
  100% {
    transform: scale(1);
  }
}
.group-info-bar-wrapper {
  animation: info-bar 0.1s ease-in;
}
/* group members */
.group-members {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.animation-none {
  animation: none;
}
.group-info__member {
  cursor: pointer;
  position: relative;
}
.group-member-options {
  z-index: 10;
  width: 30%;
  right: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.group-member-remove {
  color: white;
  padding: 0.2rem;
}
.user-member-trash {
  width: 25px !important;
  filter: invert(98%) sepia(2%) saturate(2310%) hue-rotate(147deg)
    brightness(129%) contrast(100%);
}

/* group add member */
#add-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  padding-top: 1rem;
}
/* add post */
#add-post {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding: 1rem;
}
.add-post__heading {
  text-align: center;
  font-family: "Anton", sans-serif;
  margin: 2rem 0;
  margin-bottom: 3rem;
}
.add-post__image-preview {
  display: flex;
  flex-direction: column;
}
.add-post__image-preview__caption {
  text-align: center;
  width: 100%;
  display: block;
  color: #888;
}
.add-post__image-preview__img {
  max-height: 400px;
  object-fit: cover;
}
.add-post__caption {
  resize: none;
  margin-top: 1rem;
}
.add-post__bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.add-post__progress {
  margin-top: 2rem;
}
