#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  border: 5px solid black;
  border-radius: 25px;
  box-shadow: 0 0 10px 4px #b3b3b3cf;
  align-content: stretch;
}
#app {
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer {
  cursor: pointer;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* user */
#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/* user header */
#user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
  font-style: italic;
}

.telegram-logo {
  width: 30px;
}
/* user footer */
#user-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
.footer-logo {
  max-width: 50px;
}
.footer-logo:hover {
  cursor: pointer;
  filter: invert(47%) sepia(92%) saturate(2702%) hue-rotate(163deg)
    brightness(97%) contrast(101%);
}
.footer-logo--clicked {
  filter: invert(47%) sepia(92%) saturate(2702%) hue-rotate(345deg)
    brightness(97%) contrast(101%);
}
/* feed */

#feed {
  /* display: flex; */
  overflow: scroll;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.post__avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.post {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px rgba(126, 126, 126, 0.277) solid;
  padding-bottom: 2rem;
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0 1rem;
}
.post__caption-wrapper {
  padding-left: 0.5rem;
  font-family: "Alkatra", cursive;
}

/* setting */
#setting {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 3rem;
}

.setting__profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.setting__avatar {
  border-radius: 50%;
  width: 200px;
}
.setting__user-name {
  font-family: "Anton", sans-serif;
}

/* profile */

#profile,
.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.profile__input {
  border: none;
  border-radius: 0;
  border-bottom: 2px black solid;
}

/* interests */
#interests {
  height: 100%;
}
.interests__heading {
  font-family: "Roboto";
  font-size: 5rem;
  text-align: center;
}
.interests-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 20px;
}
.interest {
  position: relative;
}
.interest__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 40px;
  filter: invert(0%) sepia(1%) saturate(4112%) hue-rotate(38deg) brightness(60%)
    contrast(101%);
}
.interest__trash {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.interest__trash:hover {
  opacity: 1;

  cursor: pointer;
}
.interest__plus {
  filter: invert(39%) sepia(88%) saturate(820%) hue-rotate(197deg)
    brightness(90%) contrast(91%);
  transition: all 0.2s;
}
.interest:hover .interest__plus {
  max-width: 70px;
}
.floppy-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.floppy-icon {
  cursor: pointer;
  max-width: 40px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.cross-icon {
  cursor: pointer;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  margin-left: 2rem;
  transform: rotateZ(45deg);
  filter: invert(28%) sepia(59%) saturate(7489%) hue-rotate(343deg)
    brightness(81%) contrast(113%);
}

/* interest form */
#interest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.interest-form__heading {
  font-family: Anton;
  align-self: center;
  margin-bottom: 2rem;
}
.interest-from__option {
}
.interest-form__btn {
  margin-top: 1rem;
  width: 100%;
}

/* contact  */
#contact {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(203, 203, 203, 0.067);
}
#friend-req {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid rgba(122, 119, 119, 0.389);
  padding-top: 1rem;
}
.friend-req__heading {
  font-family: "Alkatra";
  text-transform: uppercase;
}
.requests {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.req-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.req__tick {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: white;
  border: 1px solid rgb(73, 161, 77);
  border-radius: 100%;
  margin-left: 0.8rem;
}
.req__tick:hover {
  border: 1px solid rgb(73, 161, 77);
  background-color: rgb(73, 161, 77);
}
.req__cross {
  width: 15%;
  aspect-ratio: 1/1;
  background-color: white;
  border: 1px solid rgb(183, 62, 58);
  border-radius: 100%;
}
.req__cross:hover {
  border: 1px solid rgb(183, 62, 58);
  background-color: rgb(183, 62, 58);
}
.req__plus {
  margin-top: 4rem;
}
.req__heading {
  padding-right: 0.3rem;
}
/*  add friends */

#add-friend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  padding-top: 1rem;
}
.search-wrapper {
  width: 100%;
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  border: 1px solid rgb(224, 120, 8);
  border-radius: 20px;
}
.search-input,
.search-input:hover,
.search-input:active,
.search-input:focus {
  border: none !important;
  box-shadow: none;
  outline: none;
}
.search-btn {
  width: 20px;
}
.search-heading {
  text-align: center;
  font-family: Anton;
}
.found-users-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.add-friend-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.send-req-btn {
  width: 120px;
}
